.navigation{
    position:fixed;
    margin:2px;
    top:100px;
    left:0px;
    width:200px;
    height: 100%;
    background-color:#f6fdfa;
}
.navigation ul li a{
    list-style:none;
    color:rgb(8, 8, 8);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    font-weight:150px;
    padding:15px;
    text-align:left;
   text-decoration:none;
}
.navigation ul li{
    list-style:none;
    display:flex;
    flex-direction:row;
    
}
.main{
    display:block;
    position:relative;
    width:50%;
    left:220px;
    top:80px;
   
}
.submain{
    font-weight:200px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(241, 237, 230);
    padding:6px;
    width:550px;
}
#img1{
    width:100px;
    height:100px;
    position:fixed;
    left:120px;
    top:2px;
}
.sidebar{
    margin:2px;
    position:relative;
    right:-750px;
    width:100px;
    height:100px;
    top:-590px;

}
.sidebar h3{
    position:relative;
    text-align:right;
    display:flex;
    width:400px;
    left:100px;
    top:0px;
}
.sidebar p{
    text-align:centre;
    display:flex;
    width:400px;
    position:relative;
    right:-540px;
    bottom:370px;
    font-weight:400px;
}


.body{
    width:100%;
    min-height:100vh;
}
.search{
    width:400px;
    height:50px;
    padding:2px;
    position:absolute;
    left:400px;
    top:15px;
    border:10px;
    border-color:dimgrey;
    background-color:none;
}

.search-bar{
   border-radius:60px;
    background:none;
    width:100%;
    padding:10px 20px;
    height:100%;
    border-color:dimgray;
    border:10px;
}
.search-bar input{
background:transparent;
border:10px;
border-color:dimgrey;
outline: auto;
outline:0;
padding:20px 20px;
font-size:20px;
color:#6763a8;
}
.search-bar button{
    border:3;
    border-color:dimgrey;
    width:30px;
    height:30px;
    cursor:pointer;
}
#img2{
  width:170%; 
  height:90%;
    
}
body{
   width:100vw;
   min-height:100vh;
   overflow-x: hidden;
   
}
html{
  font-size:100%;
}